/*
        Gameboard
*/
.wrapper {
    .gameboard-wrapper {
        width: 100%;
        text-align:center;
        flex: 1 1 auto;
        padding: 0;

        .gameboard {
            position: relative;
            margin: 0 auto;
            width: 58%;
            height: auto;
            padding: 1em 2em;
            background-image: url("../images/golfcourse2.png");
            background-repeat: repeat;
            background-color: #2aad70;
            text-align: center;

            .row {
                padding: 0.25em 1em;
                display: block;
                text-align: center;
            }

            .hillwrapper {
                position: relative;
                display: inline-block;
                padding: 2px;
                margin: 0.5em 1em;
                overflow: hidden;
                
                .molehill {
                    display: block;
                    height: 150px;
                    width: 150px;
                    background-image: url("../images/molehill.png");
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    background-size: contain;

                    .mole {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                    }
                }

                .mole.active {
                    background-image: url("../images/gopher-boogie.gif");
                }
            }
        }
    }
}
